// Fonts
$main_font : 'Raleway', sans-serif;

// Size Media Queries
$phone : 480px;
$tablet: 768px;
$desktop: 1024px;

// Color
$primary: #005b9f;
$secondary:#003f8c;
$three: #009045;
$alternative: #ce6b00;
$dark: #eeeeee;
$darkBlack: #373737;
$white: #FFFFFF;